body
{
	font-family: 'Nunito Sans', sans-serif;
	color: #102444;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

header
{
	width: 350px;
	height: 100vh;
	background-color: #102444;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

img.logo
{
	width: 200px;
	margin: 100px 50px;
}

nav
{
	color: #fff;
}

ul
{
	padding: 0;
	margin: 0 50px;
}

nav ul li.active
{
	color: #00d154;
}

main
{
	width: 100%;
	min-height: 100vh;
	padding: 0 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

form
{
	width: 100%;
	margin: 50px 0;
}

form input
{
	box-sizing: border-box;
	background-color: #f5f5f5;
	padding: 10px 20px;
	margin: 10px;
	outline: none;
	border: none;
	border-radius: 10px;
}

form input:focus
{
	border: 1px solid red;
}

form input.long
{
	width: calc(100% - 20px);
}

form input.short
{
	width: calc(50% - 20px);
	float: left;
}

form input.button
{
	background-color: #00d154;
}